name: Trigger auto deployment for www-deankarlan-com

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/www-deankarlan-com-AutoDeployTrigger-441f8b90-fe4b-43a0-8b94-32d1292c9c5e.yml'

  # Allow mannually trigger 
  workflow_dispatch:      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to container registry
        uses: docker/login-action@v1
        with:
          registry: ksmcontainerreg.azurecr.io
          username: ${{ secrets.WWWDEANKARLANCOM_REGISTRY_USERNAME }}
          password: ${{ secrets.WWWDEANKARLANCOM_REGISTRY_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ksmcontainerreg.azurecr.io/www-deankarlan-com:${{ github.sha }}
          file: ./Dockerfile
          context: ./


  deploy:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.WWWDEANKARLANCOM_AZURE_CREDENTIALS }}


      - name: Deploy to containerapp
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n www-deankarlan-com -g KSM_ContainerApps_RG --server ksmcontainerreg.azurecr.io --username  ${{ secrets.WWWDEANKARLANCOM_REGISTRY_USERNAME }} --password ${{ secrets.WWWDEANKARLANCOM_REGISTRY_PASSWORD }}
            az containerapp update -n www-deankarlan-com -g KSM_ContainerApps_RG --image ksmcontainerreg.azurecr.io/www-deankarlan-com:${{ github.sha }}
